{% extends 'html5bp/html5base.html' %} 

{% block title %} 
recommender demo 
{% endblock %} 

{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato:300i|Rubik:400,500" rel="stylesheet"> 
{% endblock %}

{% block content %}

<!-- Navigation -->
<a name="page-top"></a> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><i id="back-to-top" class="fa fa-chevron-circle-up"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#recommender">Recommender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#idea">Idea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#kodi">KODI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#aboutme">About me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Marko's Demo Recommender</h1>
        <h4>First attempt at guessing what you want to watch next...</h4>
    </div>
</header>

<section id="recommender">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form action="/" method="post">
                    {% csrf_token %}
                    <ul class="list-unstyled">
                        <li>
                            <h2>
                                Give it a try :)
                            </h2>
                            <p>
                                <small>
                                    (Enter last movie you saw / movie you want recommendations to like like)
                                </small>
                            </p>
                        </li>
                        <li style="margin-bottom:18px;">
                            {{ form.title }}
                        </li>
                        <li style="margin-bottom:18px;">
                            <input class="btn btn-primary btn-block" type="submit" value="Get Recommendations" />
                        </li>
                        <li>
                            <p class="text-center"> 
                                <small>
                                    (Server is not dead! It just takes some time because of the sub-optimal hosting solution. Please give it a shot)
                                </small>
                            </p>
                        </li>
                    </ul>
                </form>


                {% if status %}
                <h2>{{ status }}</h2>
                {% endif %} {% if recommendations %}
                <ol>
                    {% for movie in recommendations %}
                    <li>
                        {{ movie }}
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About this setup</h2>
                <p class="lead">This is just a proof of concept - small DB, no ML and only genre based boards. How does it feel?</p>
                <h4>FAQ</h4>
                <ul class="list-unstyled">
                    <li class="question">Why is it so slow?</li>
                    <li>It's using sqllite running on python anywhere's file system. They say it can be sluggish. Nevertheless DB solution should be a dedicated graph DB.</li>
                    <li><small>UPDATE: Since first implementation i have moved to "in-memory" graph storage. So now recommender works noticeably faster.</small></li>
                    <li class="question">What is the point of another recommender?</li>
                    <li>I wanted to do something with as little of user data as possible and without bubble effect</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="idea" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Idea</h2>
                <p class="lead">Graph theory, random walks and (optionally ML powered) scoring function.</p>
                <ol>
                    <li>Construct a digraph with set of boards and set of movies. Each movie is in several boards and every board contains several movies.</li>
                    <li>Start with last displayed movie and perform a random walk.</li>
                    <li>Sample now consist of movies visited the most times (This prevents bubbling).</li>
                    <li>Apply socring function on sample (This can be as complicated as you want it to be).</li>
                </ol>
                <p class="lead">I got this idea from <a href="https://cs.stanford.edu/people/jure/">prof. Jure Leskovec</a>. He is using it at <span style="color:red"><i class="fa fa-pinterest-p"></i>interst</span>  so I wanted to try it out in this setting.</p>
            </div>
        </div>
    </div>
</section>

<section id="kodi" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About integration with kodi</h2>
                <h4>I know it has to be done in C++!</h4>
                <ol>
                    <li>Go through users library and movie metadata</li>
                    <li>Construct boards via natural occuring relations ... genre, actor, director ... (This should be fairly extensive set of rules)</li>
                    <li>Apply algorithm.</li>
                </ol>
                <h4>Challenges:</h4>
                <ul>
                    <li>Optimal DB implementation</li>
                    <li>Derive optimal set of rules</li>
                    <li>Batch move delivery (recommendation pagination)</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="aboutme">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About me</h2>
                <p class="lead">Soon to be mathematics MSc, 2 years of develoment experience, water polo player.</p>
                <p>
                    <i class="fa fa-linkedin"></i>
                    <a href=" https://www.linkedin.com/in/marko-prca%C4%87-83472568/">LinkedIN</a>
                </p>
                <p>
                    <i class="fa fa-github"></i>
                    <a href=" https://github.com/marexv/kodiRecommenderDemo">Github (this project)</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Marko Prcać</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %} 

{% block post_main_script %}
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("#id_title").autocomplete({
                source: "/autocomplete/",
                minLength: 2,
                //position: { my: "left bottom", at: "left top", collision: "flip" },
            });
        });
    });

    window.onload = function() {
        location.hash = "#" + "{{ anchor }}";
    };

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("back-to-top").style.display = "block";
        } else {
            document.getElementById("back-to-top").style.display = "none";
        }
    }
</script>
{% endblock %}